[submodule "vllm"]
	path = vllm
	url = git@github.com:fire3/vllm.git
	branch = v0.27.0-dsv4-sm89
[submodule "flashinfer"]
	path = flashinfer
	url = git@github.com:fire3/flashinfer.git
	branch = v0.6.16.post3-dev-sm89-dsv4
